/dokumentacija/*.aux
/dokumentacija/*.lof
/dokumentacija/*.log
/dokumentacija/*.lot
/dokumentacija/*.out
/dokumentacija/*.pdf
/dokumentacija/*.synctex.gz
/dokumentacija/*.toc

/backend/target/
/backend/.classpath
/backend/.project
/backend/.settings/

/frontend/build/
/frontend/node_modules/

/.metadata/
