  .addBtn {
    padding: 10px;
    transition-duration: 0.4s;
    color: #000000;
    width: auto;
    background-color: darkmagenta;
    
  }
  .textArea{
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 3px #282c34;
    border-radius: 4px;
    color: #292929;
    padding: 15px;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1px #FF0000, 0 0 2px #0000FF;
    width: 100%;
  }

   .imgText{
       color: #000000a2;
       font-family: 'Orbitron', sans-serif;
    
   }

   .dropdown{
     margin-top: 5%;
     width: 100%;
     height: 40px;
     font-family: 'Orbitron', sans-serif;
    color:gray;
   }
