@media all and (min-width: 480px) {
    .ChangePassword {
      font-size: 20px;
      font-style: normal;
    }
  
    .ChangePassword form {
      width: auto;
    }
  }
.box{
  margin-bottom: 5%;
}