
.chooseCards {
    margin-top: auto;
    margin-bottom: 100px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    overflow-x: auto;
    position: absolute;
    top: 37%;
    width: 90%;
  }
  
  .chooseCards:hover {
    cursor: pointer;
  }
  
  .userCards:hover {
    cursor: pointer;
  }
  
  .chosenCards {
    padding-top: 50px;
    height: 200px;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 20px;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  }
  
  .unchoseBtn {
    width: 80%;
    margin-left: 25px;
    margin-right: auto;
    color: #565656;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border: solid 3px #292929;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 1px #ff0000, 0 0 2px #0000ff;
  }
  
  .readyBtn {
    width: 100px;
    margin-left: 25px;
    margin-right: auto;
    color: #565656;
    padding: 12px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border: solid 3px #292929;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 1px #ff0000, 0 0 2px #0000ff;
  }
  
  .chooseBody {
      background-color: #2e3f30;
      height: 100vh;
      width: 100%;
      overflow-x: auto;
      position: relative;
    }
    