.overlayEdit {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Orbitron', sans-serif;
  }
  
  .modalEdit {
    position: fixed; /* Stay in place */
    width: auto; /* Full width */
    height: 100%; /* Full height */
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  /* Modal Content */
  .modal-contentEdit {
    display: table;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #2E3F30;
    margin: auto;
    border: 3px solid #1F251F;
    animation-name: animatetop;
    animation-duration: 0.5s;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }
  
  
  .registerDivEdit{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
  }
  .registerTitle{
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: white;
  }
  
  .btnDiv{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
  }
  
  .editBtn {
    padding: 10px;
    transition-duration: 0.4s;
    color: #000000;
    width: auto;
    background-color: darkmagenta;
    margin-left: 10px;
  }
  
  button:hover{
    background-color: #EBD3EE;
    color: #484048;
  }
  
  button:disabled{
    background-color: #908490;
    color: #484048;
  }
  
  .imageUploader{
    padding: 12px;
    padding-top: 36px;
  }
  
  
  .editInput {
    outline: none;
    color: #000000;
    font-size: 14px;
    text-shadow: none;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
  }
  
  .inputEdit1{
    margin-left: 20px;
  }
  
  .inputEdit2{
    margin-left: 55px;
  }
  
  .pictureEdit-location {
    width: 200px;
  }
  
  .pictureChange-location {
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }
  
  .textEdit {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .imageEdit{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .pictureEdit-location:hover .imageEdit{
    opacity: 0.3;
  }
  
  .pictureEdit-location:hover .pictureChange-location{
    opacity: 1;
  }
  
  .pictureDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  
  .pictureDiv.in{
    display: none;
  }
  
  .collapse {
    display: none
  }
  
  .collapse.in {
    display: block
  }

  .cardTitle {
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  