.btnFight {
  width: auto;
  color: #565656;
  margin-top: 100px;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 3px #292929;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 1px #FF0000, 0 0 2px #0000FF;
 }
